<div class="third">
  <h3>Fresh Burgers</h3>
    {{#each viewArr}}
      {{#unless this.devoured}}
        <div class="burger fresh">{{this.burger_name}}<button id="{{this.burger_name}}" class="devour-btn">Devour It!</button></div>
      {{/unless}}
    {{/each}}
</div>

<div class='third'>

  <img src="assets/img/burger.jpg" alt="burger">

</div>
  
<div clas='third'>
  <h3>Devoured Burgers</h3>
  {{#each viewArr}}
      {{#if this.devoured}}
        <div class="burger dev">{{this.burger_name}}</div>
      {{/if}}
  {{/each}}
</div>